body{
    background-color: #151413;
}

/* this is a comment in CSS */

/* to target all paragraphs, make a rule for p */

p{
    color: #ffecdb;
}
h1{
    color: #fcdbbd;
}
h2{
    color: #fddcb2;
}
h3{
    color: #eac48b;
}
text{
    color: #ffecdb;
}
cite{
    color: #e1c78e;
}
li{
    color: #ffecdb;
}

a:link{
    color: #ffecdb;
/* a:link means to target all a elements that are unvisited links */
}
a:visited{
    color: #ffecdb;
}
/* a:visited means to target all a elements that are visited links */

/* src$=".jpg" means to target all img elements with a src attribute that ends with .jpg */
img[src$=".jpg"] {
    width: 200px;
    height: auto;
}